<div class="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="columns large-3 medium-12">
            <h5>Quick Links</h5>
            <ul class="list-links">
                <li>
                    <a href="#" style="cursor: none">Đội ngữ bác sĩ</a>
                </li>

                <li>
                    <a href="#" style="cursor: none">Gói dịch vụ</a>
                </li>

                <li>
                    <a href="#" style="cursor: none">Tin tức</a>
                </li>

                <li>
                    <a href="#" style="cursor: none">Sitemap</a>
                </li>

                <li>
                    <a href="#" style="cursor: none">Giới thiệu</a>
                </li>

                <li>
                    <a href="#" style="cursor: none">Hướng dẫn khách hàng</a>
                </li>

                <li>
                    <a href="#" style="cursor: none">Đăng ký khám</a>
                </li>

                <li>
                    <a href="#" style="cursor: none">Nghiên cứu công nghệ</a>
                </li>
            </ul><!-- /.list-links -->
        </div><!-- /.columns large-3 -->

        <div class="columns large-3 medium-12">
            <h5>THEO DÕI CHÚNG TÔI</h5>
        </div><!-- /.columns large-3 -->

        <div class="columns large-3 medium-12">
            <h5>Giờ làm việc</h5>
            <ul class="list-work-times">
                <li>
                    <p>
                        <span>Thứ 2 - Thứ 6</span>

                        <span>9:00 am - 18:00 pm</span>
                    </p>
                </li>

                <li>
                    <p>
                        <span>Thứ 7</span>

                        <span>9:00 am - 16:00 pm</span>
                    </p>
                </li>

                <li>
                    <p>
                        <span>Chủ nhật</span>

                        <span>9:00 am - 14:00 pm</span>
                    </p>
                </li>
            </ul><!-- /.list-work-times -->
        </div><!-- /.columns large-3 -->

        <div class="columns large-3 medium-12 contacts">
            <h5>Liên hệ</h5>
            <p>458 Phố Minh Khai, Khu đô thị Times City</br> Hai Bà Trưng, Hà Nội, Việt Nam</p>
            <ul>
                <li>
                    <p>
                        <span>Điện thoại : </span>
                        <span>+842439743556</span>
                    </p>
                </li>

                <li>
                    <p>
                        <span>Email :</span>
                        <span>info@health&amp;medical.com</span>
                    </p>

                </li>
            </ul>
        </div><!-- /.columns large-3 -->
    </div><!-- /.row -->
</div><!-- /.footer -->