<div class="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="columns large-3 medium-12">
            <h5>Quick Links</h5>
            <ul class="list-links">
                <li>
                    <a href="#">Doctors</a>
                </li>

                <li>
                    <a href="#">Services</a>
                </li>

                <li>
                    <a href="#">Gallery</a>
                </li>

                <li>
                    <a href="#">News</a>
                </li>

                <li>
                    <a href="#">Terms of Use</a>
                </li>

                <li>
                    <a href="#">Privacy Policy</a>
                </li>

                <li>
                    <a href="#">Desclaimer</a>
                </li>

                <li>
                    <a href="#">Sitemap</a>
                </li>
            </ul><!-- /.list-links -->
        </div><!-- /.columns large-3 -->

        <div class="columns large-3 medium-12">
            <h5>Signup For Newsletter</h5>
            <div class="subscribe">
                <form action="?" method="post">
                    <label for="mail">Select your newsletters, enter your email address, and click "Subscribe"</label>

                    <input type="email" id="mail" name="mail" value="" placeholder="Email Address"
                           class="subscribe-field"/>

                    <button type='submit' class="subscribe-btn">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </form>
            </div><!-- /.subscribe -->
        </div><!-- /.columns large-3 -->

        <div class="columns large-3 medium-12">
            <h5>Opening Hours</h5>
            <ul class="list-work-times">
                <li>
                    <p>
                        <span>Monday - Friday</span>

                        <span>9:00 am - 18:00 pm</span>
                    </p>
                </li>

                <li>
                    <p>
                        <span>Saturday</span>

                        <span>9:00 am - 16:00 pm</span>
                    </p>
                </li>

                <li>
                    <p>
                        <span>Sunday</span>

                        <span>9:00 am - 14:00 pm</span>
                    </p>
                </li>
            </ul><!-- /.list-work-times -->
        </div><!-- /.columns large-3 -->

        <div class="columns large-3 medium-12 contacts">
            <h5>Contact Us</h5>
            <p>51 Sherbrooke West <br/> Montréal (QC), H4B 2Y2</p>
            <ul>
                <li>
                    <p>
                        <span>Phone : </span>
                        <span>+215 231 1234</span>
                    </p>
                </li>

                <li>
                    <p>
                        <span>Email :</span>
                        <span>info@health&amp;medical.com</span>
                    </p>

                </li>
            </ul>
        </div><!-- /.columns large-3 -->
    </div><!-- /.row -->
</div><!-- /.footer -->