<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/htmlhead}"/>
<body>

<div class="wrapper">
    <header class="header" th:replace="~{fragments/header}"/>

    <div class="intro intro-small">
        <div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
            <img th:src="@{/img/temp/intro3.jpg}" class="fullsize-image" alt=""/>
        </div><!-- /.intro-image -->

        <div class="row">
            <div class="intro-caption">
                <h5 class="doct-education"></h5>

                <h2 class="doct-name"></h2>
            </div><!-- /.intro-caption -->
        </div><!-- /.row -->
    </div><!-- /.intro intro-small -->

    <div class="main grey">
        <div class="row">
            <div class="columns large-12">
                <p class="breadcrumbs">
                    <a class="doct-list-link">Trang chủ</a>

                    <span>
						<i class="fa fa-angle-right"></i>
					</span>

                    <a class="doct-list-link">Bác sĩ</a>

                    <span>
						<i class="fa fa-angle-right"></i>
					</span>

                    <a href="" class="current doct-name"></a>
                </p><!-- /.breadcrumbs -->
            </div><!-- /.columns large-12 -->

            <div class="columns large-8 medium-7">
                <div class="content" itemscope itemtype="https://schema.org/BlogPosting">
                    <article class="event article-single-event">

                        <div class="event-boxs">


                            <div id="doct-expers" class="event-body" itemprop="articleBody">

                                <div class="doctor-profile">
                                    <div class="row">
                                        <div class="small-12 large-4 columns">
                                            <img class="doct-image" alt=""/>
                                        </div>

                                        <div class="small-12 large-8 columns hidden" id="doct-awards-div">
                                            <div class="doctor-program">
                                                <h4>Giải thưởng</h4>
                                                <ul id="doct-awards"
                                                    class="small-block-grid-1 medium-block-grid-1 large-block-grid-2">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p class="doct-about"></p>

                                <h3>KINH NGHIỆM</h3>

                            </div><!-- /.doctor-body -->
                        </div><!-- /.event-box -->
                    </article><!-- /.event article-single-event -->

                </div><!-- /.content -->
            </div><!-- /.columns large-8 -->

            <div class="columns large-4 medium-5">
                <div class="sidebar">
                    <div class="widgets">
                        <div class="widget widget-menu">
                            <h3>Chuyên ngành</h3>

                            <ul class="list-plus" id="doct-specs">
                            </ul><!-- /.list-plus -->
                        </div><!-- /.widget widget-menu -->

                    </div><!-- /.widgets -->
                </div><!-- /.sidebar -->
            </div><!-- /.columns large-4 -->
        </div><!-- /.row -->

    </div><!-- /.main -->

    <div class="footer" th:replace="~{fragments/footer}"/>
</div><!-- /.wrapper -->
<th:block th:insert="~{fragments/lastScript}"/>
<script th:src="@{/js/doct-content-api.js}"></script>
</body>
</html>


